<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://unpkg.com/vue@2.6.14"></script>
</head>
<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{ title.toLocaleUpperCase() }}</h1>
            <button v-if="state == 'default'" @click="state='edition'" class="btn btn-primary">Add Item</button>
            <button v-if="state == 'edition'" @click="state='default'" class="btn btn-cancel">Cancel</button>
        </div>   

        <div v-if="state == 'edition'" class="add-item-form">
            <input v-model="newItem" type="text" name="newItem" id="newItem" @keyup.enter="saveItem">
            <button @click="saveItem" class="btn btn-primary" :disabled="noInput">Save Item</button>
        </div>

        <p v-if="isEmpty">Nothing to do</p>
        <ul>
            <li v-for="item in items" :class="{strikeout: item.purchased}">{{ item.label }}</li>
        </ul>
    </div>
    <script>
        const shoppingList = new Vue({
            el: "#shopping-list",
            data: {
                state: "default",
                title: "Shopping List",
                newItem: '',
                items: [ {label: "Oranges", purchased: false}, {label: "Lemons", purchased: true} ]
            },
            methods: {
                saveItem() {
                    console.log(this.items.length)
                    this.items.push({label: this.newItem, purchased: false}); 
                    this.newItem = ''
                }
            },
            computed: {
                isEmpty() {
                    return this.items.length == 0
                },
                noInput() {
                    return this.newItem.length == 0
                }
            }
        })
    </script>


</body>
</html>